.secondary-footer {
  .secondary-footer-container {
    max-width: 1920px;
    margin: auto;
    padding-top: 28px;
    padding-bottom: 80px;
    .secondary-footer-links {
      display: flex;
      flex-direction: row-reverse;
      .link-container {
        background-image: url("../../../../assets/layout/footer/nav.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 195px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 350px;
        max-width: 1600px;
        a:link {
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          margin: 32px;
        }
        a:visited {
          color: #fff;
        }
        a:hover {
          color: #fff;
        }
        a:active {
          color: #fff;
        }
      }
    }
    .secondary-footer-copyright {
      text-align: center;
      p {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  .secondary-footer {
    .secondary-footer-container {
      max-width: 1300px;
      margin-right: 0;
      padding-bottom: 40px;
      .secondary-footer-links {
        .link-container {
          padding-left: 100px;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-right: 150px;
          max-width: 1300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1199.98px) {
  .secondary-footer {
    .secondary-footer-container {
      max-width: 900px;
      margin-right: 0;
      .secondary-footer-links {
        .link-container {
          padding-left: 50px;
          padding-right: 58px;
          max-width: 950px;
          a:link {
            margin: 18px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .secondary-footer {
    .secondary-footer-container {
      max-width: 90%;
      margin: auto;
      .secondary-footer-links {
        display: none;
      }
      .secondary-footer-copyright {
        font-size: 14px;
      }
    }
  }
}

// @media only screen and (max-width: 767.98px) {
//   .secondary-footer {
//     .secondary-footer-container {
//       padding-top: 0px;
//       padding-bottom: 50px;
//       .secondary-footer-copyright {
//         p {
//           font-size: 10px;
//         }
//       }
//     }
//   }
// }
