.home-blog {
  background: #eff2f7;
  margin-bottom: -7px;
  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    h1 {
      text-align: center;
      margin: auto;
      position: relative;
      margin-bottom: 83px;

      .h1-stone {
        position: absolute;
        height: 200px;
        top: -80px;
        left: 550px;
      }
    }
    .posts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .post-conatiner {
        text-align: center;
        margin: auto;
        max-width: 32%;
      }
      .post-image {
        width: 100%;
        margin: auto;
        height: 350px;
        border-radius: 20px;
        object-fit: cover;
      }
      .post-card {
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 72%;
        margin: auto;
        padding: 50px;
        position: relative;
        text-align: start;
        margin-top: -70px;
        h4 {
          margin: 0;
          color: #7b7b7b;
        }
        .learn {
          color: #fff;
          background: #017cc0;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          font-size: 18px;
          padding: 14px 20px;
          border: none;
          outline: none;
          cursor: pointer;
          transition: all 0.3s ease-in;
          &:hover {
            transform: scaleY(1.045);
            box-shadow: none;
            opacity: 0.95;
          }
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-blog {
    &-container {
      max-width: 1320px;
      h1 {
        margin-bottom: 63px;
      }
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-blog {
    &-container {
      max-width: 1120px;
      .posts {
        .post-card {
          max-width: 68%;
          padding: 45px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-blog {
    &-container {
      max-width: 900px;
      .posts {
        .post-card {
          max-width: 62%;
          padding: 45px;
        }
        .post-image {
          height: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-blog {
    &-container {
      max-width: 90%;
      padding-top: 100px;
      text-align: center;
      .posts {
        flex-direction: column;
        .post-conatiner {
          max-width: 100%;
        }
        .post-card {
          max-width: 100%;
          margin-bottom: 50px;
        }
        .post-image {
          height: 350px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .home-blog-container {
    max-width: 100%;
    background: #eff2f7;
    padding: 0 32px;
    padding-bottom: 25px !important;
  }
  .home-blog-container .posts .post-card {
    max-width: 63% !important;
    padding: 30px !important;
  }
  .home-blog-container .posts .post-card p {
    font-size: 12px !important;
    line-height: 15px;
    text-align: justify;
  }
  .home-blog-container
    .posts
    .post-card
    button.rmd-button.rmd-button--text.rmd-button--contained.learn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 135px;
    height: 45px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 576.98px) {
  .post-image {
    height: 250px !important;
  }
}
