.home-order {
  background-color: #eff2f7;
  background-image: url("../../../assets/home/order-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  &-container {
    max-width: 1520px;
    margin: auto;
    padding-top: 336px;
    padding-bottom: 263px;
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-size: 55px;
      color: #fff;
    }
    p {
      color: #fff;
    }
    h4 {
      color: #fff;
      font-style: italic;
      font-weight: 700;
      a:link {
        color: #fff;
        text-decoration: none;
      }
      a:visited {
        color: #fff;
      }
      a:hover {
        color: #fff;
      }
      a:active {
        color: #fff;
      }
    }
    .btn {
      color: #fff;
      background-color: transparent;
      border: 2px solid #ffffff;
      border-radius: 10px;
      padding: 22px 90px;
      font-size: 22px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  .home-order {
    &-container {
      max-width: 1300px;
      padding-top: 236px;
      padding-bottom: 236px;
      h2 {
        font-size: 45px;
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  .home-order {
    &-container {
      max-width: 1150px;
      padding-top: 136px;
      padding-bottom: 106px;
    }
  }
}

@media only screen and (max-width: 1199.98px) {
  .home-order {
    &-container {
      max-width: 900px;
      padding-top: 96px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-order {
    &-container {
      max-width: 90%;
    }
  }
}
