.home-call {
  background: url("../../../assets/home/callBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  .home-call-container {
    max-width: 1740px;
    margin: auto;
    padding-bottom: 130px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .home-call-content {
      h1 {
        font-size: 65px;
        color: #fff;
        text-align: center;
        margin: auto;
        font-weight: 800px;
      }
      p {
        color: #fff;
        max-width: 1000px;
      }
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  .home-call {
    .home-call-container {
      max-width: 1300px;
      .home-call-content {
        h1 {
          font-size: 60px;
          text-align: start;
        }
        p {
          max-width: 800px;
        }
      }
      .home-call-image {
        img {
          max-width: 90%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1419.98px) {
  .home-call {
    .home-call-container {
      max-width: 1150px;
      .home-call-content {
        h1 {
          font-size: 55px;
        }
        p {
          max-width: 700px;
        }
      }
      .home-call-image {
        img {
          max-width: 85%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1199.98px) {
  .home-call {
    .home-call-container {
      max-width: 900px;
      .home-call-content {
        h1 {
          font-size: 35px;
        }
        p {
          max-width: 500px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-call {
    .home-call-container {
      max-width: 90%;
      flex-direction: column;
      .home-call-content {
        padding-bottom: 30px;
        max-width: 80%;

        h1 {
          font-size: 30px;
          text-align: center;
          margin: auto;
        }
        p {
          max-width: unset;
        }
      }
      .home-call-image {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

// @media only screen and (max-width: 767.98px) {
//   .home-call {
//     background: url("../../../assets/home/mobile/call-bg.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     .home-call-container {
//       max-width: 90%;
//       padding-bottom: 60px;
//       padding-top: 60px;
//       .home-call-content {
//         h1 {
//           font-size: 25px;
//         }
//       }
//     }
//   }
// }
