.home-call {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-attachment: fixed;
  // clip-path: polygon(
  //   0% 0%,
  //   100% 0%,
  //   100% 80%,
  //   26.5% 100%,
  //   25% 100%,
  //   23.5% 100%,
  //   0% 80%
  // );
  .home-call-container {
    max-width: 1600px;
    margin: auto;
    padding-bottom: 130px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .home-call-content {
      h1 {
        font-size: 65px;
        color: #fff;
        font-weight: 800px;
      }
      p {
        color: #fff;
        max-width: 1000px;
      }
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-call {
    .home-call-container {
      max-width: 1320px;
      .home-call-content {
        h1 {
          font-size: 60px;
          text-align: start;
        }
        p {
          max-width: 800px;
        }
      }
      .home-call-image {
        img {
          max-width: 90%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-call {
    .home-call-container {
      max-width: 1180px;
      .home-call-content {
        h1 {
          font-size: 55px;
        }
        p {
          max-width: 700px;
        }
      }
      .home-call-image {
        img {
          max-width: 85%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-call {
    .home-call-container {
      max-width: 900px;
      .home-call-content {
        h1 {
          font-size: 35px;
        }
        p {
          max-width: 500px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-call {
    .home-call-container {
      max-width: 90%;
      flex-direction: column;
      .home-call-content {
        padding-bottom: 30px;
        max-width: 80%;

        h1 {
          font-size: 30px;
          text-align: center;
          margin: auto;
        }
        p {
          max-width: unset;
        }
      }
      .home-call-image {
        img {
          max-width: 100%;
        }
      }
    }
  }
}
