.home-call {
  background: url("../../../assets/home/callBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  .home-call-container {
    max-width: 1740px;
    margin: auto;
    padding-bottom: 130px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .home-call-content {
      h1 {
        font-size: 65px;
        color: #fff;
        text-align: center;
        margin: auto;
      }
      p {
        color: #fff;
        max-width: 1000px;
      }
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  .home-call {
    .home-call-container {
      max-width: 1300px;
      margin: auto;
      .home-call-content {
        h1 {
          font-size: 60px;
          text-align: start;
        }
        p {
          max-width: 800px;
        }
      }
      .home-call-image {
        img {
          max-width: 90%;
        }
      }
    }
  }
}
