.home-service-team {
  background-color: #eff2f7;
  background: url("../../../assets/home/team-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  &-container {
    max-width: 1620px;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 363px;
    h1 {
      color: #fff;
      text-align: center;
      margin: auto;
      margin-bottom: 68px;
    }
    .home-service-team-images {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .home-service-team-description {
      color: #fff;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  .home-service-team {
    &-container {
      max-width: 1300px;
      padding-top: 100px;
      padding-bottom: 263px;
      .home-service-team-images {
        img {
          width: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1419.98px) {
  .home-service-team {
    &-container {
      max-width: 1150px;
      padding-bottom: 163px;
      .home-service-team-images {
        img {
          width: 225px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1199.98px) {
  .home-service-team {
    &-container {
      max-width: 900px;
      .home-service-team-images {
        img {
          width: 180px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-service-team {
    &-container {
      max-width: 90%;
      padding-bottom: 450px;
      .home-service-team-images {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 300px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
