.home-service-team {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 33px;
    h1 {
      color: #fff;
      text-align: center;
      margin: auto;
      margin-bottom: 68px;
    }
    .home-service-team-images {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .home-service-team-description {
      color: #fff;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-service-team {
    &-container {
      max-width: 1320px;
      padding-top: 100px;
      .home-service-team-images {
        img {
          width: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-service-team {
    &-container {
      max-width: 1120px;
      .home-service-team-images {
        img {
          width: 225px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-service-team {
    &-container {
      max-width: 900px;
      .home-service-team-images {
        img {
          width: 180px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-service-team {
    &-container {
      max-width: 90%;
      .home-service-team-images {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 400px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576.98px) {
  .home-service-team {
    &-container {
      max-width: 90%;
      .home-service-team-images {
        img {
          width: 350px;
        }
      }
    }
  }
}

@media only screen and (max-width: 380.98px) {
  .home-service-team {
    &-container {
      max-width: 90%;
      .home-service-team-images {
        img {
          width: 280px;
        }
      }
    }
  }
}
