.info-pestPrevention {
  background: url("../../../assets/info/pest-prevention.png");
  background-repeat: no-repeat;
  background-size: cover;
  //   clip-path: polygon(36% 0, 100% 17%, 100% 89%, 59% 100%, 0 79%, 0 12%);
  //   clip-path: polygon(0 5%, 34% 13%, 100% 0, 100% 91%, 63% 99%, 0 84%);
  .container {
    padding-top: 156px;
    padding-bottom: 238px;
    margin-top: -80px;
    h1 {
      color: #fff;
      margin: auto;
      text-align: center;
      margin-bottom: 38px;
    }
    p {
      color: #fff;
      margin-bottom: 30px;
    }
    ul {
      li {
        color: #fff;
      }
    }
    .info-pestPrevention-btn-container {
      margin: auto;
      text-align: center;
      margin-top: 50px;
      .info-pestPrevention-btn {
        color: #fff;
        background-color: #017cc0;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 22px 35px;
        font-size: 22px;
        margin-top: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover {
          transform: scaleY(1.045);
          box-shadow: none;
          opacity: 0.95;
        }
      }
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .info-pestPrevention {
    .container {
      padding-top: 180px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .info-pestPrevention {
    .container {
      padding-top: 200px;
      padding-bottom: 149px;
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .info-pestPrevention {
    background: url("../../../assets/info/prev-small-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      padding-top: 60px;
      padding-bottom: 60px;
      .info-pestPrevention-btn-container {
        .info-pestPrevention-btn {
          padding: 18px 30px;
          font-size: 12px !important;
          margin-top: 16px;
        }
      }
    }
  }
}
