.home-pestControl3 {
  background: url("../../../assets/home/pest3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eff2f7;

  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 290px;
    padding-bottom: 400px;
    h1 {
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-pestControl3 {
    &-container {
      max-width: 1320px;
      padding-top: 190px;
      padding-bottom: 200px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-pestControl3 {
    &-container {
      max-width: 1120px;
      padding-top: 190px;
      padding-bottom: 200px;
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-pestControl3 {
    &-container {
      max-width: 900px;
      padding-top: 100px;
      padding-bottom: 180px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-pestControl3 {
    &-container {
      max-width: 90%;
      padding-top: 100px;
      padding-bottom: 200px;
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .home-pestControl3 {
    background: url("../../../assets/home/mobile/pest3-bgs.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
