.landing-proficient {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-attachment: fixed;
  .container {
    padding-top: 288px;
    padding-bottom: 289px;
    .landing-proficient-content {
      h1 {
        text-align: center;
        margin: auto;
        text-transform: uppercase;
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .landing-proficient {
    .container {
      padding-bottom: 189px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .landing-proficient {
    .container {
      padding-bottom: 150px;
      padding-top: 150px;
    }
  }
}
