.landing-quote {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .container {
    padding-top: 289px;
    padding-bottom: 287px;
    h1 {
      text-align: center;
      margin: auto;
      text-transform: uppercase;
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .landing-quote {
    .container {
      padding-bottom: 187px;
    }
  }
}
@media only screen and (max-width: 576.98px) {
  .landing-quote {
    &-container {
      padding-top: 120px;
      padding-bottom: 80px;
    }
  }
}
