.home-quote {
  background: url("../../../assets/home/quote-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dde4ec;

  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 290px;
    padding-bottom: 290px;
    h2 {
      text-align: center;
      margin: auto;
      margin-bottom: 50px;
      color: #fff;
      text-transform: uppercase;
    }
    p {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-quote {
    &-container {
      max-width: 1320px;
      padding-top: 190px;
      padding-bottom: 190px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-quote {
    &-container {
      max-width: 1120px;
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-quote {
    &-container {
      max-width: 900px;
      padding-top: 100px;
      padding-bottom: 120px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-quote {
    &-container {
      max-width: 90%;
      h2 {
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .home-quote {
    background-image: url("../../../assets/home/mobile/free-bgs.png");
    background-size: cover;
    background-repeat: no-repeat;
    &-container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}
