.termite-blog {
  background: #eff2f7;
  .container {
    padding-top: 15px;
    padding-bottom: 10px;
    h1 {
      text-align: center;
      margin: auto;
      position: relative;
      margin-bottom: 83px;
      color: #231f20;
      .termite-stone {
        position: absolute;
        top: -80px;
        left: 450px;
      }
    }
    p {
      margin-bottom: 50px;
    }
    .termite-posts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .termite-post {
        max-width: 31%;
        margin: auto;
        &-image {
          width: 100%;
          border-radius: 20px 20px 0 0;
        }
        &-card {
          background: #ffffff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 0 0 20px 20px;
          max-width: 100%;
          margin-top: -3px;
          padding: 50px;
          text-align: start;
          h4 {
            margin: 0;
            color: #7b7b7b;
          }
          .read {
            color: #fff;
            background: #017cc0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            font-size: 18px;
            padding: 14px 20px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: all 0.3s ease-in;
            &:hover {
              transform: scaleY(1.045);
              box-shadow: none;
              opacity: 0.95;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .termite-blog {
    .container {
      h1 {
        margin-bottom: 63px;
      }
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .termite-blog {
    .container {
      .termite-posts {
        .termite-post {
          &-card {
            padding: 45px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .termite-blog {
    .container {
      .termite-posts {
        .termite-post {
          &-card {
            padding: 45px;
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .termite-blog {
    .container {
      text-align: center;
      .termite-posts {
        flex-direction: column;
        .termite-post {
          max-width: 80%;
          margin: auto;
          &-card {
            margin-bottom: 70px;
          }
        }
      }
    }
  }
}
