.termite-exp-carousel-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  @media only screen and (max-width: 1805.98px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .termite-exp-carousel-content-para {
    max-width: 800px;
    h1 {
      margin-top: 0 !important;
      color: #231f20;
    }
  }
  .carousel-image {
    margin-left: 90px;
    align-items: center;
    img {
      border-radius: 20px;
    }
  }
}

.termite-experience {
  background-color: #eff2f7;
  .container {
    padding-top: 369px;
    padding-bottom: 337px;
  }
}

@media only screen and (max-width: 1789.98px) {
  .termite-experience {
    .container {
      padding-top: 180px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .termite-experience {
    .container {
      padding-bottom: 149px;
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .termite-experience {
    .container {
      max-width: 900px;
      padding-top: 100px;
    }
  }
}

.carousel_container {
  .slick-dots {
    bottom: -50px;
    li button:before {
      font-size: 20px;
    }
    li.slick-active button:before {
      color: #017cc0;
      opacity: 1;
    }
  }
}
