.termite-ourServices {
  background: url("../../../assets/termite/service-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dde4ec;
  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 369px;
    padding-bottom: 337px;
    h1 {
      color: #fff;
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
    }
    p {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .termite-ourServices {
    &-container {
      max-width: 1320px;
      padding-top: 180px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .termite-ourServices {
    &-container {
      max-width: 1120px;
      padding-top: 180px;
      padding-bottom: 149px;
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .termite-ourServices {
    &-container {
      max-width: 900px;
      padding-top: 100px;
      padding-bottom: 149px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .termite-ourServices {
    &-container {
      max-width: 90%;
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .termite-ourServices {
    // background: url("../../../assets/home/mobile/pest2-bgs.png");
    background-repeat: no-repeat;
    background-size: cover;
    &-container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
