.home-pestControl2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    h1 {
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
    }
    p {
      white-space: pre-wrap;
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-pestControl2 {
    &-container {
      max-width: 1320px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-pestControl2 {
    &-container {
      max-width: 1120px;
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-pestControl2 {
    &-container {
      max-width: 900px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-pestControl2 {
    &-container {
      max-width: 90%;
    }
  }
}
