.home-pestControl2 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-attachment: fixed;
  // background-position: center;
  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 280px;
    padding-bottom: 299px;
    h1 {
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
    }
    p {
      white-space: pre-wrap;
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-pestControl2 {
    &-container {
      max-width: 1320px;
      padding-top: 180px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-pestControl2 {
    &-container {
      max-width: 1120px;
      padding-top: 180px;
      padding-bottom: 149px;
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-pestControl2 {
    &-container {
      max-width: 900px;
      padding-top: 130px;
      padding-bottom: 149px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-pestControl2 {
    &-container {
      max-width: 90%;
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .home-pestControl2 {
    background: url("../../../assets/home/mobile/pest2-bgs.png"),
      linear-gradient(#eff2f7, #dde4ec);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-attachment: fixed;
    &-container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
