@import "../../../styles/utilities/variables/variables.scss";
.home-hero {
  background-repeat: no-repeat;
  // background-size: 100% 100%;
  background-size: cover;
  margin-bottom: 80px;
  position: relative;
  @media only screen and (min-width: 2100.98px) {
    background-size: 100% 100%;
  }
  // .po {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  // }
  &-container {
    max-width: 1620px;
    margin: auto;
    padding-top: 250px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    .general {
      margin-right: 72px;
    }
    .google-ratings {
      margin-right: 100px;
      margin-bottom: 200px;
    }
  }
}

@media only screen and (max-width: 1899.98px) {
  .home-hero {
    &-container {
      .general {
        margin-right: 182px;
      }
    }
  }
}
@media only screen and (max-width: 1691.98px) {
  .home-hero {
    &-container {
      .general {
        margin-right: 222px;
      }
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  .home-hero {
    &-container {
      max-width: 1420px;
      padding-top: 300px;
      .general {
        margin-right: 142px;
      }
      .google-ratings {
        margin-right: 50px;
      }
    }
  }
}
@media only screen and (max-width: 1419.98px) {
  .home-hero {
    &-container {
      padding-top: 250px;
    }
  }
}

@media only screen and (max-width: 1199.98px) {
  .home-hero {
    margin-bottom: 40px;
    &-container {
      max-width: 900px;
      padding-top: 150px;
      .google-ratings {
        margin-right: 20px;
      }
      .general {
        margin-right: 30px;
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-hero {
    &-container {
      max-width: 90%;
      padding-top: 300px;
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      .google-ratings {
        margin: auto;
        margin-bottom: 50px;
      }
      .general {
        display: none;
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 576.98px) {
  .home-hero {
    background-size: cover;
  }
}
