// @import "../../../styles/index.scss";
@import "../../../styles/utilities/variables/variables.scss";
.home-hero {
  background-image: url("../../../assets/home/banner-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;

  &-container {
    max-width: 1620px;
    margin: auto;
    padding-top: 200px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    .google-ratings {
      margin-right: 100px;
      margin-bottom: 200px;
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  .home-hero {
    &-container {
      max-width: 1420px;
      padding-top: 300px;
      .google-ratings {
        margin-right: 50px;
      }
    }
  }
}

@media only screen and (max-width: 1199.98px) {
  .home-hero {
    &-container {
      max-width: 900px;
      padding-top: 300px;
      .google-ratings {
        margin-right: 20px;
      }
      .home-hero-features {
        width: 400px;
        &-cost {
          padding-left: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-hero {
    &-container {
      max-width: 90%;
      padding-top: 300px;
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      .google-ratings {
        margin: auto;
        margin-bottom: 50px;
      }
      .home-hero-features {
        width: 400px;
        margin: auto;
        &-cost {
          padding-left: 10px;
        }
      }
    }
  }
}
