.home-reasons {
  background-color: #dde4ec;

  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    h3 {
      text-align: center;
      margin: auto;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-reasons {
    &-container {
      max-width: 1320px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-reasons {
    &-container {
      max-width: 1120px;
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-reasons {
    &-container {
      max-width: 900px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-reasons {
    &-container {
      max-width: 90%;
    }
  }
}
