.info-choosePest {
  background-color: #dde4ec;
  margin-top: -10px;
  .container {
    padding-top: 45px;
    padding-bottom: 5px;
    h1 {
      position: relative;
      color: #231f20;
      text-align: center;
      text-transform: uppercase;
      margin: auto;
      img {
        position: absolute;
        top: -90px;
      }
    }
    .choosePest-reasons-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .choosePest-reasons-points {
        max-width: 45%;
      }
    }
  }
}

.choosePest-reason-structure {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 47%;
  white-space: pre-wrap;
  @media only screen and (max-width: 991.98px) {
    width: 100%;
  }
  img {
    margin-right: 10px;
    @media only screen and (max-width: 767.98px) {
      width: 30px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .info-choosePest {
    .container {
      .choosePest-reasons-container {
        flex-direction: column;
        .choosePest-reasons-points {
          max-width: 95%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .info-choosePest {
    .container {
      padding-bottom: 100px;
      h1 {
        img {
          left: -90px;
        }
      }
    }
  }
}
