.info-choosePest {
  background-color: #dde4ec;
  margin-top: -10px;
  .container {
    padding-top: 144px;
    padding-bottom: 150px;
    h1 {
      position: relative;
      color: #231f20;
      text-align: center;
      text-transform: uppercase;
      margin: auto;
      img {
        position: absolute;
        top: -90px;
      }
    }
    .choosePest-reasons-container {
      display: flex;
      justify-content: space-between;
      .choosePest-reasons-points {
        max-width: 45%;
      }
    }
  }
}

.choosePest-reason-structure {
  display: flex;
  flex-direction: row;
  img {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1789.98px) {
  .info-choosePest {
    .container {
      padding-top: 180px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .info-choosePest {
    .container {
      padding-bottom: 149px;
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .info-choosePest {
    .container {
      padding-top: 100px;
      padding-bottom: 149px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .info-choosePest {
    .container {
      padding-top: 150px;
      padding-bottom: 200px;
      .choosePest-reasons-container {
        flex-direction: column;
        .choosePest-reasons-points {
          max-width: 95%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .info-choosePest {
    .container {
      padding-bottom: 100px;
      h1 {
        img {
          left: -90px;
        }
      }
    }
  }
}
