.termite-chooseUs {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  .container {
    padding-top: 9px;
    padding-bottom: 9px;
    h1 {
      color: #fff;
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
    }
    .termite-chooseUs-content {
      p {
        color: #fff;
      }
      ul {
        li {
          color: #fff;
        }
      }
    }
  }
}
