@import "../../../styles/index.scss";

header {
  position: absolute;
  width: 100%;
  z-index: 99;
  .header-container {
    max-width: 1720px;
    margin: auto;
    padding-top: 58px;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    .header-logo {
      max-width: 26%;
    }
    .logo {
      margin-right: 42px;
      width: 100%;
      position: relative;
      z-index: 999;
      @media only screen and (max-width: 1220px) {
        width: 200px;
      }
      @media only screen and (max-width: 767px) {
        width: 100px;
      }
    }
    .navbar {
      a:link {
        color: $tertiary-color;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        margin-right: 30px !important;
        position: relative;
        @media only screen and (max-width: 1619.98px) {
          font-size: 14px;
        }
        @media only screen and (max-width: 1369.98px) {
          font-size: 11px;
        }
        li {
          list-style: none;
        }
      }
      a:visited {
        color: $tertiary-color;
      }
      a:hover {
        color: rgba(1, 124, 192, 0.9);
        text-shadow: 2px 2px rgba(1, 124, 192, 0.25);
      }
      a:active {
        color: $primary-color;
      }
    }
  }
}
.header-telephone {
  position: absolute;
  top: 54px;
  right: 0;
  @media only screen and (max-width: 1799.98px) {
    right: 40px;
  }
  @media only screen and (max-width: 1619.98px) {
    right: 0;
  }
  @media only screen and (max-width: 1420px) {
    top: 65px;
    right: 93px;
  }
  @media only screen and (max-width: 767px) {
    top: 7px;
  }
  img {
    margin-right: 16px;
    @media only screen and (max-width: 767px) {
      max-width: 25px;
      margin-right: -12px;
    }
  }
  a:link {
    color: $primary-color;
    line-height: 55px;
    text-decoration: none;
    font-weight: 600;
    font-size: 40px;
  }
  a:visited {
    color: $primary-color;
  }
  a:hover {
    color: rgba(1, 124, 192, 0.9);
    text-shadow: 2px 2px rgba(1, 124, 192, 0.25);
  }
  a:active {
    color: $primary-color;
  }
}

@media only screen and (max-width: 1799.98px) {
  header {
    .header-container {
      max-width: 1600px;
      margin: auto;
      justify-content: space-around;
      padding-left: 40px;
      padding-top: 88px;
      .header-logo {
        width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 1701.98px) {
  header {
    .header-container {
      max-width: 1520px;
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  header {
    .header-container {
      max-width: 1380px;
      padding-left: 0;
      padding-top: 110px;
      .header-logo {
        width: 170px;
        margin-right: 10px;
        margin-top: 20px;
      }
      .navbar {
        ul {
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1419.98px) {
  header {
    .header-container {
      max-width: 95%;
      .navbar {
        ul {
          li {
            a:link {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1319.98px) {
  header {
    .header-container {
      max-width: 97%;
      .navbar {
        ul {
          li {
            a:link {
              margin-right: 10px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1219.98px) {
  header {
    .header-container {
      max-width: 90%;
      justify-content: flex-start;
      .header-logo {
        margin-top: 2px;
      }
    }
  }
}

.navbar-menu {
  display: flex;
  padding: 0;
  margin: 70px 0 0;
  @media only screen and (max-width: 1799.98px) {
    margin: 30px 0 0;
  }
  a {
    margin-right: 0 !important;
  }
}

.ul-menu-button {
  background-color: transparent;
  border: none;
  color: #7b7b7b;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat";
  cursor: pointer;
  margin: 0;
  margin-right: 10px;
  @media only screen and (max-width: 1419.98px) {
    font-size: 12.5px;
  }
}

.submenu-button li {
  color: #7b7b7b;
  font-size: inherit;
  font-weight: 600;
  font-family: "Montserrat";
}

ul.main-menu {
  list-style-type: none;
  padding: 0;
  margin: 70px 0 0;
  @media only screen and (max-width: 1799.98px) {
    margin: 30px 0 0;
    text-align: end;
  }
  @media only screen and (max-width: 1619.98px) {
    text-align: start;
  }
  li {
    display: inline-block;
    position: relative;
  }
}

//third-menu
.modified-icon {
  transform: rotate(-90deg);
}
.third-menu-container {
  position: relative;
  a:link {
    display: flex !important;
    justify-content: space-between;
    img {
      margin-left: 5px;
    }
  }
  &:hover {
    .third-submenu {
      visibility: visible;
    }
    .third-submenu-first {
      visibility: visible;
    }
  }
  .third-submenu {
    position: absolute;
    visibility: hidden;
    width: 200px;
    top: -10px;
    left: 170px;
    background-color: #fff;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    &:hover {
      visibility: visible;
    }
  }
  .third-submenu-first {
    position: absolute;
    visibility: hidden;
    width: 200px;
    top: -10px;
    left: 240px;
    background-color: #fff;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    &:hover {
      visibility: visible;
    }
  }
}

.third-menu-mobile-container {
  position: relative;
  a:link {
    display: flex !important;
    img {
      margin-left: 5px;
    }
  }
  &:hover {
    .third-submenu-mobile {
      visibility: visible;
    }
  }
  .third-submenu-mobile {
    z-index: 9999;
    position: absolute;
    visibility: hidden;
    width: 200px;
    top: -20px;
    left: 200px;
    background-color: #fff;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    @media only screen and (max-width: 576px) {
      left: 120px;
    }
    &:hover {
      visibility: visible;
    }
  }
}

// submenu
ul.submenu {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  padding: 10px;
  padding-right: 20px;
  min-width: 190px;
  top: 80%;
  transform: rotateX(-120deg);
  transform-origin: 0% 0%;
  transition-delay: 250ms;
  transition-duration: 250ms;
  opacity: 0;
  visibility: hidden;
  li {
    padding-bottom: 13px;
    border: none !important;
    text-align: end;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.015em;
    color: rgba(28, 43, 73, 0.8);
    display: block;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    transition: all 0.3s;
    // padding: 5px 12px;
    &:hover {
      background-color: #f5f5f5;
    }
    a:link {
      margin-right: 0 !important;
    }
  }
}
ul.main-menu li:hover .submenu {
  opacity: 1;
  top: 100%;
  visibility: visible;
  transform: rotateX(0deg);
}
.accordion-header {
  cursor: pointer;
}
.accordion-panel > .accordion-body {
  display: none;
}
.accordion-panel.accordion-expanded > .accordion-body {
  display: block;
}
// mobile menu
.nav-bar {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
  z-index: 99;
  display: none;
}
.toggle .nav-bar {
  display: block;
}
.toggle-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 999;
  display: none;
  @media only screen and (max-width: 1220px) {
    display: flex;
  }
  @media only screen and (max-width: 767px) {
    top: 21px;
    width: 26px;
    height: 27px;
  }
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #017cc0;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}
.toggle .line1 {
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}
.toggle .toggle-menu {
  position: fixed;
}
.nav-list {
  list-style: none;
}
.nav-list-item a {
  padding: 10px 0;
  font-size: 17px;
  line-height: 25px;
  color: #7d7d7d;
  text-decoration: none;
  @media only screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
  }
}
.nav-list-item a:hover {
  color: rgba(1, 124, 192, 0.9);
  text-shadow: 2px 2px rgba(1, 124, 192, 0.25);
}
.nav-link {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #7d7d7d;
  text-decoration: none;
  position: relative;
  padding: 20px 0;
  @media only screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
  }
}
ul.nav-list.accordion {
  position: relative;
  top: 120px;
  padding: 0;
  margin: 0;
  @media only screen and (max-width: 767px) {
    top: 85px;
  }
  li.nav-list-item {
    margin-bottom: 26px;
    padding-left: 95px;
    @media only screen and (max-width: 767px) {
      padding-left: 30px;
      margin-bottom: 10px;
    }
  }
}
.accordion-body ul {
  list-style: none;
  padding: 14px 0 0 20px;
  max-width: 400px;
  @media only screen and (max-width: 767px) {
    padding: 0 0 0 10px;
  }
}
a.nav-link.accordion-header {
  max-width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    max-width: 85%;
  }
}
@media only screen and (max-width: 1220px) {
  .navbar {
    display: none;
  }
  .header-telephone {
    span {
      display: none;
    }
  }
  header {
    .header-container {
      padding-top: 70px;
    }
  }
  .toggle .logo {
    position: fixed !important;
  }
}
@media only screen and (max-width: 767.98px) {
  header {
    .header-container {
      padding-top: 26px;
    }
  }
}

//mobile menu
.mobile-navbar {
  list-style: none;
  li {
    min-height: 45px;
  }
  .nav-imp-sizes {
    font-size: 16px;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  .MuiPaper-elevation1 {
    box-shadow: none;
    width: 80%;
  }
  .MuiIconButton-root {
    padding: 0;
    padding-top: 12px;
  }
  .MuiAccordionSummary-root {
    padding: 0;
  }
  .MuiAccordionSummary-content.Mui-expanded {
    margin-bottom: 0;
  }
  .MuiAccordionSummary-root.Mui-expanded {
    min-height: fit-content;
  }
  .MuiAccordionSummary-content {
    margin-bottom: 2px;
    margin-top: 2px;
    a:link {
      font-size: 16px !important;
      line-height: 2em;
      color: #7b7b7b;
      font-weight: 500;
      font-family: "Montserrat";
    }
    a:visited {
      color: #7b7b7b;
    }
    a:hover {
      color: rgba(1, 124, 192, 0.9);
    }
    a:active {
      color: #7b7b7b;
    }
  }
}
.accordion-submenu-ul {
  list-style-type: none;
  padding-left: 10px;
  .MuiPaper-elevation1 {
    box-shadow: none;
    width: 100%;
  }
  .MuiAccordionSummary-content.Mui-expanded {
    margin-top: 0;
  }
  li {
    a:link {
      font-size: 16px;
      line-height: 2em;
      color: #7b7b7b;
      font-weight: 500;
      font-family: "Montserrat";
    }
    a:visited {
      color: #7b7b7b;
    }
    a:hover {
      color: rgba(1, 124, 192, 0.9);
    }
    a:active {
      color: #7b7b7b;
    }
  }
}

//desktop menu dropdown
.sub-menu-dropdown {
  width: 220px;
  position: absolute;
  background-color: #fff;
  padding: 0 0 16px 0;
  left: -10px;
  top: 35px;
  box-sizing: border-box;
  box-shadow: 3px 11px 25px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: rotateX(-120deg);
  transform-origin: 0% 0%;
  transition-delay: 250ms;
  transition-duration: 250ms;
  border-radius: 4px;
  ul {
    flex-direction: column;
    padding-inline-start: 10px;
    list-style: none;
    width: 100%;

    li {
      width: 100%;
      padding: 6px 0;
      position: relative;
      img {
        position: absolute;
        right: 13%;
        top: 40%;
      }
      a:link {
        color: $secondary-color;
        font-size: 14px;
        letter-spacing: -0.5px;
      }
      a:hover {
        color: $primary-color !important;
      }
    }
  }
}
.pcs:hover .sub-menu-dropdown {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
}

.inner-side-menu {
  width: inherit;
  min-width: 220px;
  position: absolute;
  background-color: #fff;
  padding: 0 10px 4px 0;
  top: -10px;
  left: 200px;
  box-sizing: border-box;
  box-shadow: 3px 11px 25px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: rotateX(-120deg);
  transform-origin: 0% 0%;
  transition-delay: 250ms;
  transition-duration: 250ms;
  border-radius: 4px;
  li {
    width: 100%;
    padding: 6px 0;
    position: relative;
    img {
      position: absolute;
      right: 10%;
      top: 40%;
    }
    a:link {
      color: $secondary-color;
      font-size: 14px;
      letter-spacing: -0.5px;
    }
    a:hover {
      color: $primary-color !important;
    }
  }
}
.sub-menu-field:hover .inner-side-menu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
}
.pssm {
  left: 210px;
}
.cpc {
  left: 210px;
}
.areas-dropdown,
.pest_types {
  width: 110px;
}
.termite-dropdown {
  width: 170px;
}
.regions-side-menu {
  left: 100px;
  width: 100px;
  top: -30px;
}
