@import "../../../styles/index.scss";

header {
  position: absolute;
  width: 100%;
  .header-container {
    max-width: 1720px;
    margin: auto;
    padding-top: 58px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    .header-logo {
      // -ms-flex: 0 0 26%;
      // flex: 0 0 26%;
      max-width: 26%;
    }
    .logo {
      margin-right: 42px;
      width: 100%;
      position: relative;
      z-index: 999;
      @media only screen and (max-width: 1420px) {
        width: 200px;
      }
      @media only screen and (max-width: 767px) {
        width: 100px;
      }
    }
    .navbar {
      -ms-flex: 0 0 74%;
      flex: 0 0 74%;
      a:link {
        color: $tertiary-color;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        margin-right: 30px;
      }
      a:visited {
        color: $tertiary-color;
      }
      a:hover {
        color: rgba(1, 124, 192, 0.9);
        text-shadow: 2px 2px rgba(1, 124, 192, 0.25);
      }
      a:active {
        color: $primary-color;
      }
    }
  }
}
.header-telephone {
  position: absolute;
  top: 54px;
  right: 0;
  @media only screen and (max-width: 1799.98px) {
    right: 40px;
  }
  @media only screen and (max-width: 1619.98px) {
    right: 0;
  }
  @media only screen and (max-width: 1420px) {
    top: 65px;
    right: 93px;
  }
  @media only screen and (max-width: 767px) {
    top: 7px;
  }
  img {
    margin-right: 16px;
    @media only screen and (max-width: 767px) {
      max-width: 25px;
      margin-right: -12px;
    }
  }
  a:link {
    color: $primary-color;
    font-size: 45px;
    line-height: 55px;
    text-decoration: none;
    font-weight: 600;
  }
  a:visited {
    color: $primary-color;
  }
  a:hover {
    color: rgba(1, 124, 192, 0.9);
    text-shadow: 2px 2px rgba(1, 124, 192, 0.25);
  }
  a:active {
    color: $primary-color;
  }
}

@media only screen and (max-width: 1799.98px) {
  header {
    .header-container {
      max-width: 1600px;
      margin: auto;
      flex-direction: column;
      padding-left: 40px;
    }
  }
}

@media only screen and (max-width: 1701.98px) {
  header {
    .header-container {
      max-width: 1520px;
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  header {
    .header-container {
      max-width: 1320px;
      padding-left: 0;
    }
  }
}

@media only screen and (max-width: 1419.98px) {
  header {
    .header-container {
      max-width: 1150px;
    }
  }
}

@media only screen and (max-width: 1219.98px) {
  header {
    .header-container {
      max-width: 90%;
    }
  }
}

ul.main-menu {
  list-style-type: none;
  padding: 0;
  margin: 70px 0 0;
  @media only screen and (max-width: 1799.98px) {
    margin: 30px 0 0;
    text-align: end;
  }
  @media only screen and (max-width: 1619.98px) {
    text-align: start;
  }
  li {
    display: inline-block;
    position: relative;
  }
}

// submenu
ul.submenu {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  // box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
  //   0 9px 28px 8px rgb(0 0 0 / 5%);
  padding: 10px;
  min-width: 190px;
  top: 80%;
  transform: rotateX(-120deg);
  transform-origin: 0% 0%;
  transition-delay: 250ms;
  transition-duration: 250ms;
  opacity: 0;
  visibility: hidden;
  li {
    padding-bottom: 13px;
    border: none !important;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.015em;
    color: rgba(28, 43, 73, 0.8);
    display: block;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px 12px;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}
ul.main-menu li:hover .submenu {
  opacity: 1;
  top: 100%;
  visibility: visible;
  transform: rotateX(0deg);
}
.accordion-header {
  cursor: pointer;
}
.accordion-panel > .accordion-body {
  display: none;
}
.accordion-panel.accordion-expanded > .accordion-body {
  display: block;
}
// mobile menu
.nav-bar {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
  z-index: 99;
  display: none;
}
.toggle .nav-bar {
  display: block;
}
.toggle-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 999;
  display: none;
  @media only screen and (max-width: 1420px) {
    display: flex;
  }
  @media only screen and (max-width: 767px) {
    top: 21px;
    width: 26px;
    height: 27px;
  }
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #017cc0;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}
.toggle .line1 {
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}
.toggle .toggle-menu {
  position: fixed;
}
.nav-list {
  list-style: none;
}
.nav-list-item a {
  padding: 10px 0;
  font-size: 17px;
  line-height: 25px;
  color: #7d7d7d;
  text-decoration: none;
  @media only screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
  }
}
.nav-link {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #7d7d7d;
  text-decoration: none;
  position: relative;
  padding: 20px 0;
  @media only screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
  }
}
ul.nav-list.accordion {
  position: relative;
  top: 120px;
  padding: 0;
  margin: 0;
  @media only screen and (max-width: 767px) {
    top: 85px;
  }
  li.nav-list-item {
    margin-bottom: 26px;
    padding-left: 95px;
    @media only screen and (max-width: 767px) {
      padding-left: 30px;
      margin-bottom: 10px;
    }
  }
}
.accordion-body ul {
  list-style: none;
  padding: 14px 0 0 20px;
  max-width: 400px;
  @media only screen and (max-width: 767px) {
    padding: 0 0 0 10px;
  }
}
a.nav-link.accordion-header {
  max-width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    max-width: 85%;
  }
}
@media only screen and (max-width: 1420px) {
  .navbar {
    display: none;
  }
  .header-telephone {
    span {
      display: none;
    }
  }
  header {
    .header-container {
      padding-top: 70px;
    }
  }
  .toggle .logo {
    position: fixed !important;
  }
}
@media only screen and (max-width: 767.98px) {
  header {
    .header-container {
      padding-top: 26px;
    }
  }
}
// homepage responsive css
@media only screen and (max-width: 767px) {
  .home-hero-container {
    padding-top: 173px;
    .google-ratings {
      img {
        width: 119px;
        height: auto;
      }
    }
  }
  .home-pest-control {
    margin-top: -10px !important;
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
    .home-pest-control-container {
      max-width: 100%;
      padding: 0 40px;
      .image-holder {
        margin-left: 0;
        img {
          max-width: 100%;
        }
      }
    }
  }
  .home-whoAreWe-container {
    max-width: 100%;
    padding: 100px 40px 65px !important;
    .video {
      max-width: 100%;
      height: 206.25px;
    }
  }
  .home-whoAreWe-container-content {
    padding-top: 16px !important;
    .whoAreWe-control-stone {
      top: -17px !important;
      left: -43px !important;
      width: 115px;
      height: 103.97px;
    }
    .btn-container {
      button.rmd-button.rmd-button--text.rmd-button--contained.btn {
        width: 198px;
        height: 45px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 12px;
        line-height: 15px;
        margin-top: 22px;
      }
    }
  }
  .home-service-team-container {
    h1 {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 20px;
    }
  }
  .home-service-team-container {
    .home-service-team-images {
      img {
        width: 200px !important;
        height: 266.67px;
      }
    }
    .home-service-team-description {
      padding-left: 42px !important;
      padding-right: 42px !important;
      text-align: justify;
    }
  }
  .home-pest-control-container-content {
    .pest-control-stone {
      top: 32px !important;
      left: -46px !important;
      width: 110px;
      height: 108.17px;
    }
  }
  .home-service-types-container {
    max-width: 100% !important;
    padding: 85px 42px 36px !important;
    .home-service-type-residential-image .residential-image h1,
    .home-service-type-commercial-image .commercial-image h1,
    .home-service-type-termite-image .termite-image h1 {
      font-size: 20px !important;
      line-height: 24px;
    }
    h1 {
      margin-bottom: 53px;
    }
  }
  .home-service-types-container {
    .home-service-type-residential-image {
      .residential-image {
        img {
          height: auto !important;
          width: 100% !important;
          margin-top: 20px;
        }
      }
    }
  }
  img.home-service-type-residential-content-stone {
    top: -11px !important;
    left: -46px !important;
    width: 110px;
    height: 108.17px;
  }
  img.home-service-type-termite-content-stone {
    top: -11px !important;
    left: -46px !important;
    width: 110px;
    height: 108.17px;
  }
  img.home-service-type-commercial-content-stone {
    top: -11px !important;
    left: -46px !important;
    width: 110px;
    height: 108.17px;
  }
  .home-service-type-commercial,
  .home-service-type-residential {
    // margin-bottom: 60px;
    margin-bottom: 0;
  }
  .home-service-types-container
    .home-service-type-termite-image
    .termite-image
    img {
    width: 100% !important;
    height: auto !important;
    margin-top: 20px;
  }
  .home-service-types-container
    .home-service-type-commercial-image
    .commercial-image
    img {
    width: 100% !important;
    height: auto !important;
    margin-top: 20px;
  }
  .home-prevention-conatiner {
    max-width: 100% !important;
    padding-top: 56px !important;
    h3 {
      padding: 0 42px;
    }
    .prevent {
      font-size: 15px !important;
      line-height: 18px;
      padding: 0 42px;
    }
  }
  .home-prevention-conatiner-content {
    padding: 0 26px;
  }
  .home-expertise-container {
    max-width: 100%;
    padding: 0 42px;
  }
  // .home-expertise-container {
  //   .home-expertise-conatiner-content {
  //     padding-left: 0 !important;
  //     display: flex !important;
  //     flex-direction: column;
  //     justify-content: center;
  //     .points {
  //       display: flex;
  //       flex-direction: row;
  //       width: 100%;
  //     }
  //   }
  // }
  .home-pestControl2 {
    padding: 50px 0 117px;
  }
  .home-reasons-container {
    max-width: 100%;
    padding-bottom: 70px;
    padding: 0 42px 70px;
    // padding-top: 0 !important;
    margin-top: -46px !important;
  }
  .home-pestControl2-container {
    max-width: 100%;
    padding: 44px 42px 80px;
  }
  .home-pestControl3-container,
  .home-reviews-container {
    max-width: 100%;
    padding: 0 42px 0;
  }
  .home-reviews-container h2 {
    margin-top: 45px !important;
    margin-bottom: 25px !important;
    font-size: 20px;
    line-height: 24px;
  }
  .home-reviews-container br {
    display: none;
  }
  .review-image img {
    width: 200px;
    height: auto;
  }
  .home-choose-container h4 {
    font-size: 15px !important;
    line-height: 18px;
    margin-bottom: 30px !important;
  }
  .home-choose-container .why-and-card .why-container {
    display: block !important;
  }
  .home-choose-container {
    max-width: 100% !important;
    padding: 0 42px;
  }
  .home-choose-container .why-and-card .card .card-para {
    padding: 60px 40px !important;
    font-size: 15px !important;
    line-height: 18px;
  }
  .home-choose-container .why-and-card .card .quote-top {
    top: -27px !important;
  }
  .home-order-container h2 {
    font-size: 28px !important;
    line-height: 34px;
  }
  .home-order-container
    button.rmd-button.rmd-button--text.rmd-button--outline.btn {
    width: 198px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
  }
  .home-blog-container {
    max-width: 100%;
    background: #eff2f7;
    padding: 0 42px;
    padding-bottom: 25px !important;
  }
  .home-blog-container .posts .post-card {
    max-width: 63% !important;
    padding: 30px !important;
  }
  .home-blog-container .posts .post-card p {
    font-size: 12px !important;
    line-height: 15px;
    text-align: justify;
  }
  .home-blog-container
    .posts
    .post-card
    button.rmd-button.rmd-button--text.rmd-button--contained.learn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 135px;
    height: 45px;
    font-size: 12px;
    line-height: 15px;
  }
  .home-call .home-call-container {
    max-width: 100%;
    padding: 0 42px;
  }
  .home-call .home-call-container .home-call-content {
    max-width: 100%;
  }
  .home-call-image {
    padding: 0 20px;
  }
  .primary-footer .primary-footer-container .primary-footer-social-media a img {
    width: 25px;
    height: 25px;
  }
  .primary-footer .primary-footer-container .primary-footer-social-media {
    display: flex;
    align-items: center;
  }
  .primary-footer-logo-xl img {
    width: 150px;
    height: auto;
  }
  .secondary-footer .secondary-footer-container .secondary-footer-copyright p {
    font-size: 10px !important;
    line-height: 12px;
  }
  .home-service-types-container
    .home-service-type-commercial-image
    .commercial-image
    img {
    width: 100% !important;
    height: auto !important;
  }
  .fixed-widget-layout {
    display: none !important;
  }
}
