.blog-blog2 {
  background-color: #eff2f7;
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    .blog-blog2-content {
      max-width: 60%;
      margin: auto;
      &-image {
        img {
          width: 100%;
          border-radius: 20px;
        }
      }
      h3 {
        color: #017cc0;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .center-p {
        text-align: center;
        margin: auto;
      }
      .bottom-text {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .button-container {
          display: flex;
          justify-content: start;
        }
      }
    }
  }
}
.blog2-button {
  color: #017cc0;
  background-color: transparent;
  border: 1px solid #017cc0;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  margin-right: 10px;
  @media only screen and (max-width: 1289.98px) {
    font-size: 18px;
  }
  &:hover {
    transform: scaleY(1.045);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.95;
  }
}

@media only screen and (max-width: 1289.98px) {
  .blog-blog2 {
    .container {
      // padding-top: 40px;
      // padding-bottom: 40px;
      .blog-blog2-content {
        max-width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .blog-blog2 {
    .container {
      .blog-blog2-content {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .blog-blog2 {
    .container {
      .blog-blog2-content {
        .bottom-text {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 479.98px) {
  .blog-blog2 {
    .container {
      .blog-blog2-content {
        .bottom-text {
          .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .blog2-button {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
