.info-controlPlan {
  background-color: #dde4ec;
  margin-top: -7px;
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
    .info-controlPlan-inspection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      &-image {
        max-width: 48.5%;
        img {
          max-width: 100%;
          border-radius: 20px;
        }
      }
      &-content {
        max-width: 48.5%;
        margin-top: 30px;
        h1 {
          margin-top: 10px;
          position: relative;
          color: #231f20;
          img {
            position: absolute;
            top: -60px;
            left: -80px;
          }
        }
      }
      .content2 {
        max-width: 46%;
      }
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .info-controlPlan {
    .container {
      .info-controlPlan-inspection {
        &-image {
          margin-right: 0;
          img {
            max-width: 100%;
            margin-top: 40px;
          }
        }
        &-content {
          margin-top: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .info-controlPlan {
    .container {
      .info-controlPlan-inspection {
        flex-direction: column;
        margin-bottom: 150px;
        &-content {
          max-width: 90%;
          margin: auto;
        }
        .content2 {
          max-width: 90%;
        }
        &-image {
          max-width: 90%;
          margin: auto;
        }
      }
      .container2 {
        flex-direction: column-reverse;
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .info-controlPlan {
    .container {
      .info-controlPlan-inspection {
        margin-bottom: 70px;
      }
    }
  }
}

@media only screen and (max-width: 576.98px) {
  .info-controlPlan {
    .container {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  }
}
