@import url("https://fonts.googleapis.com/css2?family=Montez:wght@200;400;600;700;800;900&display=swap");

.home-choose {
  background-color: #dde4ec;
  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 13px;
    h1 {
      text-align: center;
      margin: auto;
      margin-bottom: 33px;
      text-transform: uppercase;
    }
    h4 {
      color: #7b7b7b;
      font-style: italic;
      font-size: 29px;
      margin-bottom: 60px;
    }
    .why-and-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .why-container {
        margin-top: 36px;
        display: grid;
        grid-template-columns: auto auto;
        .why {
          display: flex;
          min-width: 417px;
          align-items: center;
          img {
            margin-right: 20px;
          }
        }
      }
      .card {
        background-color: #017cc0;
        border-radius: 20px;
        margin: auto;
        position: relative;
        display: flex;
        .card-para {
          color: #fff;
          font-style: italic;
          font-weight: 600;
          font-size: 25px;
          padding: 68px 44px;
          text-align: center;
        }
        .quote-top {
          color: #fff;
          font-family: "Montez";
          font-size: 170px;
          position: absolute;
          left: 0;
          font-weight: 400;
          top: 3px;
          margin: 19px;
        }
        .quote-bottom {
          color: #fff;
          font-family: "Montez";
          font-size: 170px;
          position: absolute;
          right: 0;
          font-weight: 400;
          top: 283px;
          margin: 19px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-choose {
    &-container {
      max-width: 1320px;
      .why-and-card {
        .why-container {
          .why {
            min-width: 350px;
            img {
              margin-right: 10px;
              width: 30px;
            }
          }
        }
        .card {
          .quote-bottom {
            margin-top: 90px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-choose {
    &-container {
      max-width: 1120px;
      .why-and-card {
        .why-container {
          .why {
            min-width: 310px;
            img {
              margin-right: 10px;
              width: 40px;
            }
          }
        }
        .card {
          .quote-bottom {
            margin-top: 140px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-choose {
    &-container {
      max-width: 900px;
      h4 {
        margin-bottom: 5px;
      }
      .why-and-card {
        flex-direction: column;
        .card {
          margin-top: 30px;
          .quote-bottom {
            top: 153px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-choose {
    &-container {
      max-width: 90%;
      h4 {
        text-align: center;
        margin: auto;
      }
      .why-and-card {
        .why-container {
          text-align: center;
          margin: auto;
        }
        .card {
          margin-top: 30px;
          max-width: 90%;
          .quote-bottom {
            top: 193px;
            @media only screen and (max-width: 767.98px) {
              top: -3px;
            }
            @media only screen and (max-width: 576.98px) {
              top: -4px;
            }
            @media only screen and (max-width: 479.98px) {
              top: 44px;
            }
            @media only screen and (max-width: 379.98px) {
              top: 64px;
            }
          }
        }
      }
    }
  }
}
