.termite-whyTermite {
  background-color: #eff2f7;
  margin-top: -5px;
  &-container {
    max-width: 1600px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    .termite-general-pest {
      display: none;
    }
    .termite-whyTermite-inspection {
      display: flex;
      justify-content: space-between;
      padding-bottom: 180px;
      &-image {
        max-width: 48.5%;
        img {
          max-width: 100%;
        }
        // .termite1 {
        //   margin-left: 80px;
        // }
      }
      &-content {
        max-width: 48.5%;
        h1 {
          margin-top: 10px;
          position: relative;
          img {
            position: absolute;
            top: -60px;
            left: -80px;
          }
        }
      }
      .content2 {
        max-width: 46%;
      }
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .termite-whyTermite {
    &-container {
      max-width: 1320px;
      padding-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .termite-whyTermite {
    &-container {
      max-width: 1120px;
      .termite-whyTermite-inspection {
        padding-bottom: 100px;
        &-image {
          margin-right: 0;
          img {
            max-width: 100%;
            padding-top: 40px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .termite-whyTermite {
    &-container {
      max-width: 900px;
      .termite-whyTermite-inspection {
        flex-direction: column;
        &-content {
          max-width: 90%;
          margin: auto;
        }
        .content2 {
          max-width: 90%;
        }
        &-image {
          max-width: 90%;
          margin: auto;
        }
      }
      .container2 {
        flex-direction: column-reverse;
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .termite-whyTermite {
    &-container {
      max-width: 90%;
      .termite-general-pest {
        display: block;
        text-align: center;
        margin: auto;
        margin-bottom: 100px;
      }
    }
  }
}
