.transport-PestServices {
  // background: url("../../../assets/termite/service-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #eff2f7;
  .container {
    padding-top: 369px;
    padding-bottom: 337px;
    h1 {
      color: #fff;
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
    }
    p {
      color: #fff;
    }
    .transport-PestServices-btn-container {
      margin: auto;
      text-align: center;
      margin-top: 50px;
      .transport-PestServices-btn {
        color: #fff;
        background-color: #017cc0;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 22px 35px;
        font-size: 22px;
        margin-top: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover {
          transform: scaleY(1.045);
          box-shadow: none;
          opacity: 0.95;
        }
      }
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .transport-PestServices {
    .container {
      padding-top: 240px;
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .transport-PestServices {
    .container {
      padding-bottom: 149px;
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .transport-PestServices {
    .container {
      padding-top: 220px;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .transport-PestServices {
    .container {
      max-width: 90%;
      padding-bottom: 200px;
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .transport-PestServices {
    background: url("../../../assets/info/pest-small-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #eff2f7;
    .container {
      padding-top: 200px;
      padding-bottom: 150px;
      .transport-PestServices-btn-container {
        .transport-PestServices-btn {
          padding: 18px 30px;
          font-size: 12px !important;
          margin-top: 16px;
        }
      }
    }
  }
}
