.home-pest-control {
  background-color: #eff2f7;
  margin-top: -5px;
  &-container {
    max-width: 1720px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    &-content {
      max-width: 700px;
      padding-left: 50px;
      padding-top: 200px;
      position: relative;
      .pest-control-stone {
        position: absolute;
        top: 122px;
        left: -30px;
      }
    }
    .image-holder {
      margin-right: 120px;
    }
  }
}

@media only screen and (max-width: 1619.98px) {
  .home-pest-control {
    margin-top: -5px;
    &-container {
      max-width: 1300px;
      margin: auto;
      padding-bottom: 50px;
      &-content {
        padding-top: 100px;
        max-width: 600px;
        padding-left: 0;
      }
      .image-holder {
        margin-right: 0px;
        margin-left: 40px;
        img {
          max-width: 90%;
        }
      }
    }
  }
}
