.home-pest-control {
  background-color: #eff2f7;
  margin-top: -7px;
  &-container {
    max-width: 1620px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    .general-pest {
      display: none;
    }
    &-content {
      max-width: 700px;
      padding-top: 200px;
      position: relative;
      .pest-control-stone {
        position: absolute;
        top: 122px;
        left: -30px;
      }
    }
  }
}

@media only screen and (max-width: 1789.98px) {
  .home-pest-control {
    &-container {
      max-width: 1400px;
      padding-bottom: 50px;
      &-content {
        max-width: 600px;
      }
    }
  }
}

@media only screen and (max-width: 1519.98px) {
  .home-pest-control {
    &-container {
      max-width: 1220px;
      &-content {
        max-width: 600px;
        padding-top: 150px;
      }
    }
  }
}

@media only screen and (max-width: 1289.98px) {
  .home-pest-control {
    &-container {
      max-width: 1000px;
      &-content {
        max-width: 450px;
        padding-top: 120px;
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .home-pest-control {
    &-container {
      flex-direction: column;
      max-width: 90%;
      .general-pest {
        display: block;
        text-align: center;
        margin: auto;
      }
      &-content {
        max-width: 90%;
        padding-top: 120px;
        margin: auto;
      }
    }
  }
}
