.landing-reliable {
  background-color: #eff2f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .container {
    padding-top: 156px;
    padding-bottom: 8px;
    .landing-reliable-content {
      h1 {
        text-align: center;
        margin: auto;
        text-transform: uppercase;
      }
    }
  }
}
