.landing-blackTown {
  background-color: #eff2f7;
  margin-top: -6px;
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    .landing-general-pest {
      display: none;
    }
    .landing-blackTown-content {
      h1 {
        text-align: center;
        margin: auto;
        position: relative;
        img {
          position: absolute;
          top: -90px;
          left: 390px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .landing-blackTown {
    .container {
      .landing-general-pest {
        display: block;
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
      }
      .landing-blackTown-content {
        h1 {
          img {
            position: absolute;
            top: -90px;
            left: 90px;
          }
        }
      }
    }
  }
}
